<%= save_form(:street) %>
  <%= text_field 'address', 'street', 'size' => 30 %>
  <%= hidden_field 'address', 'id' %>
  <%= ok_submit(:street) %>
<%= end_form_tag %>
<%= javascript_tag "$('address_street').select()" %>
