<%= javascript_include_tag :defaults %>
<ul>
  <li>
    <%= _("Account") %>:&nbsp;
    <% if @index.account_number_prefix %>
      <%= @index.account_number_prefix %>-
    <% end %>
    <%= @index.account_number %>/<%= @index.account_bank_number %>
    <br />
  </li>
  <br />
</ul>
