<%= update_element_function("done", 
:content => render(:partial => "add_scholarship_text")) %>
<%= update_element_function("form", 
:content => render(:partial => "add_scholarship_form",
:locals => {:scholarship => scholarship, :index => index}))%>
<%= "Element.show('form') %>
