<td><%= scholarship.code %></td>
<td><%= scholarship.disponent %></td>
<td><%= scholarship.amount %></td>
<% disponents[scholarship.disponent] += scholarship.amount %>
<% codes[scholarship.code] += scholarship.amount %>
