<%= form_remote_tag(:url => {:action => 'save_citizenship', :id => @index}, :complete => evaluate_remote_response) %>
    <%= text_field 'student', 'citizenship', 'size' => '30' %>
    <%= hidden_field 'index', 'id' %>
    <%= submit_tag _("commit") %>
<%= end_form_tag %>
