<ul class='peopleList'>
<li style='color: gray'>
<div class="smallinfo"><%= _("Extra") %></div>
<div class="smallinfo"><%= _("Regular") %></div>
<div class="smallinfo"><%= _("Study form") %></div>
<div class="smallinfo"><%= _("Department") %></div>
<%= _("Full name") %>
</li>
<% for index in @indices %>
<li class='tiny' id='index_<%= index.id %>'>
<%= render(:partial => 'index_line', :locals => {:index => index}) %>
</li>
<% end %>
</ul>
