<% change_form(@scholarship) do -%>
  <%= hidden_field 'scholarship', 'type' %>
  <%= hidden_field 'scholarship', 'index_id' %>
  <%= hidden_field 'scholarship', 'id' %>
  <%= scholarship_field %> <%= t(:message_0, :scope => [:view, :scholarships, :change]) %>
  <%= image_submit_tag('ok.png', :id => 'submit-button') %>
<% end %>
