<% unless @scholarships && @scholarships.empty? %>
  <div id="scholarship_list">
    <%= render_partial @params['prefix'] ? @params['prefix'] + 'list' : 'list' %>
  </div>
<% else %>
  <h5><%= _("There are no scholarships") %></h5>
<% end %>
<br/>
<script type="text/javascript">
  function accountChange() {
  if($('account_change').style.display == 'none') {
    new Effect.Appear('account_change');
  } else {
    new Effect.Fade('account_change')
  }
}
</script>
