<div id='students_list'>
<h5><%= _("Scholarship for students") %></h5>
<div class='links'>
<% if @user.has_role?('faculty_secretary') %>
  <%= approve_link %>
  <%= control_table_link %>
<% end %>

</div>
  <%= render :partial => 'prepare_list' %>
</div>

