<div id='students_list'>
  <div class='links'>
  <% if @user.has_one_of_roles?(['faculty_secretary','vicerector']) %>
    <%= recalculate_link %>
    <%= approve_link %>
    <%= control_table_link %>
  <% end %>

  </div>
  <h1><%= t(:message_0, :scope => [:view, :scholarships, :prepare]) %></h1>

  <%= render :partial => 'prepare_list' %>
</div>

