<ul>
  <li><div class='smallinfo'><%= @regular_sum %></div><%= _('regular scholarship sum') %></li>
<% if @extra_sum %>
  <li><div class='smallinfo'><%= @extra_sum %></div><%= _('extra scholarship sum') %></li>
<% end %>
</ul>
<div class='links'><%= hide_link('sum') %></div>

