<% save_form(:account) do %>
  <%= _('prefix') %>:
  <%= text_field 'index', 'account_number_prefix', 'size' => 6 %>
  <%= _('account') %>:
  <%= text_field 'index', 'account_number', 'size' => 10 %>
  <%= _('bank') %>:
  <%= text_field 'index', 'account_bank_number', 'size' => 4 %>
  <%= hidden_field 'student', 'id' %>
  <%= ok_submit(:account) %>
<% end %>
