<%= student_action_links(student) %>
<%= link_to_remote(_("contact"), :url => {:action => 'contact', :id =>
  student.id}, :update => 'info' + student.id.to_s, :complete =>
  "showContact(#{student.id})") %>
