<%= student_action_links(index.student) %>
<%= link_to_remote(_("contact"), :url => {:action => 'contact', :id =>
  index.student.id}, :update => "info#{index.study_plan.id}", :complete =>
  "showContact(#{index.study_plan.id})") %>
