<%= student_action_links(student) %>
<%= link_to(_("show"), :action => 'show', :id => student.id) %>
<a href='#' onclick="Element.toggle('info<%= student.id %>');return false;"><%=
_("contact") %></a>
