<%= save_form(:tutor) %>
<select name='index[tutor_id]'>
<%= options_for_select(@tutors, @index.tutor_id)%>
</select>
  <%= hidden_field 'index', 'id' %>
  <%= ok_submit(:tutor) %>
<%= end_form_tag %>
<%= javascript_tag "$('tutor_display_name').select()" %>
