<% save_form(:email) do -%>
  <%= text_field :student, :email, :size => 30 %>
  <%= hidden_field :student, :id %>
  <%= ok_submit(:email) %>
<% end %>
<%= javascript_tag "$('student_email').select()" %>
