<% save_form(:phone) do -%>
  <%= text_field :student, :phone, 'size' => '30' %>  
  <%= hidden_field :student, :id %>
  <%= ok_submit(:phone) %>
<% end %>
<%= javascript_tag "$('student_phone').select()" %>
