<% save_form(:birthname) do -%>
  <%= text_field 'student', 'birthname', 'size' => 20 %>
  <%= hidden_field 'student', 'id' %>
  <%= ok_submit(:birthname) %>
<% end %>
<%= javascript_tag "$('student_birthname').select()" %>
