<% save_form(:consultant) do -%>
  <%= text_field 'index', 'consultant', 'size' => 20 %>
  <%= hidden_field 'index', 'id' %>
  <%= ok_submit(:consultant) %>
<% end %>
<%= javascript_tag "$('index_consultant').select()" %>

