<% save_form(:citizenship) do -%>
  <%= text_field 'student', 'citizenship', 'size' => 4 %>
  <%= hidden_field 'student', 'id' %>
  <%= ok_submit(:citizenship) %>
<% end %>
<%= javascript_tag "$('student_citizenship').select()" %>

