<div id='search'>
  <%= render(:partial => 'search') %>
</div>
<div id='students_list'>
  <%= javascript_tag "Event.observe(window, 'load', " + remote_function(:update => 'students_list', :url => {:action => :filter}) + ')' %>
  <h5><%= t(:message_0, :scope => [:txt, :view, :students, :list, :rhtml]) + "(%s)" % t(:message_1, :scope => [:txt, :view, :students, :list, :rhtml]) %></h5>
  <div class='centered'>
    <%= image_tag 'big_loader.gif' %>
  </div>
</div>

