<% form_remote_tag(:url => @form_url, :complete => evaluate_remote_response) do -%>
<% if @form_action == 'switch_study' %>
   <%= submit_tag(t(:message_1, :scope => [:txt, :view, :students, :time_form, :rhtml])) %>
<% else %>
  <%= submit_tag(t(:message_0, :scope => [:txt, :view, :students, :time_form, :rhtml])) %>
<% end %>
<%= select_day(@date) if @day %>
<%= select_month(@date, :use_month_numbers => true) %>
<%= select_year(@date, :start_year => 2000) %>
<% end -%>
