<div class='links'><%= hide_link('final_exam') %></div>

<% create_form do -%>
  <%= render(:partial => "form") %>
  <%= submit_tag t(:message_0, :scope => [:view, :defenses, :_edit]), :id => 'submit-button' %>
<% end %>


