<h3>
  <%= t(:creating_term, :scope => [:txt, :view, :defenses, :new, :rhtml]) %> -
  <%= @defense.index.student.display_name %>
</h3>
<% form_tag :action => :create do -%>
  <fieldset>
    <%= render(:partial => "form") %>
    <%= submit_tag t(:message_0, :scope => [:txt, :view, :defenses, :_edit, :rhtml]), :id => 'submit-button' %>
  </fieldset>
<% end %>

