<td>
  <%= @tutorship.tutor.display_name %>
</td>
<td>
<% form_remote_tag(:url => {:action => "update"}, 
                            :complete => evaluate_remote_response,
                            :after => loader_image("coridor_submit")) do %>
  <%= collection_select :tutorship, :coridor_id, @coridors, :id, :name %>
  <%= hidden_field :tutorship, :id %>
  <%= ok_submit(:coridor) %>
<% end %>
</td>