<h5><%= _('Tutors list') + "(#{@tutors.size})" %></h5>
<ul id='tutors_list'>
  <% for tutor in @tutors %>
    <li>
      <div class='x-longinfo' id='coridor_<%= tutor.tutorship.id %>'>          
        <%= render :partial => 'coridor', 
                   :locals => {:tutorship => tutor.tutorship} %>
      </div>
      <%= tutor.display_name %>
    </li>
  <% end %>
</ul>
