<h1>Editing faculty</h1>

<%= error_messages_for 'faculty' %>
<!--[form:faculty]-->
<% form_tag :action => 'update' do %>
<%= hidden_field 'faculty', 'id' %>
<p><label for="faculty_name">Name</label><br /><%= text_field 'faculty', 'name'  %></p>
<input type="submit" value="Update" />
<% end %>
<!--[eoform:faculty]-->


<%= link_to 'Show', :action => 'show', :id => @faculty.id %> |
<%= link_to 'Back', :action => 'list' %>
