<h1>New faculty</h1>

<%= error_messages_for 'faculty' %>
<!--[form:faculty]-->
<% form_tag :action => 'create' do %>
<%= hidden_field 'faculty', 'id' %>
<p><label for="faculty_name">Name</label><br /><%= text_field 'faculty', 'name'  %></p>
<input type="submit" value="Create" />
<% end %>
<!--[eoform:faculty]-->


<%= link_to 'Back', :action => 'list' %>
