<% for column in Admitance.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @admitance.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @admitance %> |
<%= link_to 'Back', :action => 'list' %>
