<%=
update_element_function("study_plan#{disert_theme.index.study_plan.id}",
:position => :before, :content => approve_links(disert_theme, 'disert_themes')) %>
<%= update_element_function("methodology_link#{disert_theme.id}", :action =>
:remove) %>

<%= "window.open('pdf/methodology#{disert_theme.id}.pdf', '_blank')" %>
