<%= update_element_function("disert_theme", :position => :bottom,
:content => render(:partial => "shared/methodology", 
:locals => {:disert_theme => disert_theme.finishing_to})) %>
<%= update_element_function("disert_form", :action => :remove) %>

