<%= update_element_function("disert_theme", :position => :after,
:content => content_tag('div', render(:partial => "methodology_summary_form", 
:locals => {:disert_theme => disert_theme}), :id => 'methodology_form')) %>
<%= update_element_function('methodology_link', :action => :remove) %>
