<%=
update_element_function("study_plan#{statement.approvement.disert_theme.index.study_plan.id}",
:position => :bottom, :content => print_statement(statement)) %>
<%= update_element_function(remove, :action => :remove) %>




