<%= update_element_function("disert_theme#{statement.approvement.disert_theme.id}",
:position => :bottom, :content => print_statement(statement)) %>
<%= update_element_function(remove, :action => :remove) %>




