<%= update_element_function("disert_theme#{disert_theme.id}", 
:position => :bottom, :content => render(:partial => "shared/methodology", 
:locals => {:disert_theme => disert_theme})) %>
<%= update_element_function(element, :action => :remove) %>




