<%= update_element_function("study_plan#{disert_theme.index.study_plan.id}", 
:position => :bottom, :content => render(:partial => "shared/methodology", 
:locals => {:disert_theme => disert_theme})) %>
<%= update_element_function(remove, :action => :remove) %>




