<%= update_element_function("disert_theme", :position => :bottom,
:content => render(:partial => "shared/methodology", 
:locals => {:disert_theme => disert_theme})) %>
<%= update_element_function("methodology_form", :action => :remove) %>




