<p>
<%= _("On this page you can add your methodology file. File should be only in
PDF format.") %>
</p>
<%= form_tag({:action => 'save_methodology'}, {:multipart => true}) %>	
<%= hidden_field "disert_theme", "id" %>
<fieldset>
<label for="disert_theme_methodology_file"><%= _("file") %>:</label>
<input type="file" name="disert_theme[methodology_file]"
id="disert_theme_methodology_file"/>
</fieldset>
<%= submit_tag _("upload")
%>
<%= end_form_tag %>

