<tr class='second' id='specialization_subject_<%= specialization_subject.id %>'>
    <td> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        <%= "%s&nbsp;%s" % [del_link(specialization_subject), specialization_subject.subject.label] %></td>
</tr>
