body {font-size: 16px}
#header h2, h1, h3 {text-align: center;}
#logo {text-align: center; padding-bottom: 1em;}
#supplement li {border: none}
#supplement table {margin-top: .2ex; margin-bottom: 1ex; margin-left: auto; margin-right: auto; border-collapse: collapse; width: 40em}
#supplement th, td {padding: .5em; border: 1px solid black}
th.short {width: 5em}
#supplement li {list-style: none}
#supplement p {font-size: smaller; margin: .3em 0 0 0;}
#supplement .sub_list {padding-bottom: 1em}
.informations  li {font-size: smaller}

.static {margin: 15pt}
.static ul { margin: -10pt 0 0 3em; }
.static li { border: none; list-style: disc; }
.static h1 {text-align: left; margin: 0 0 0 5pt;}
.static h2 {text-align: left; margin: 25pt 0 3pt 5pt;}
.static h3 {text-align: left; margin: 0 0 1pt 5pt;}
.static p.note {font-size: smaller}
.static p {margin:0 0 1em 0}

