.right_info {
  float: right;
  width: 44ex;
}
hr {
  border: none;
}
h5 {
  display: none;
	font-size: 14pt;
}
h1 {
  display: none;
}
p {
  text-align: justify;
}
.instruction {
  display: none;
}
#student_detail li { 
  clear: right; 
  margin: 0 0 0 0;
  padding: 2px 0 0 0.5ex;
  border-bottom: 1px solid #ddc;
  border-left: 3px solid #ddc;
  list-style: none; 
}
#error {
  display: none;
}
#notice {
  display: none;
}
p.subject {
  margin-bottom: 80px;
}
.printHeader {
  display: block;
  text-align: center;
}
.printHeader h3, h4 {
  display: block;
  text-align: center;
  font-size: 14pt;
}
#footer {
  display: none;
}
.links {
  display: none;
}
.right {
  display: none;
}
.dots {
  padding-left: 2em;
  position: absolute;
  left: 18em;
}
.info {
  float: right;
  width: 34ex;
  padding-left: 2em;
  position: absolute;
  left: 13em;
}
.long_info {
  float: right;
  width: 480px;
}
.longinfo {
  float: right;
  width: 15em;
  font-size: 9pt;
  text-align: left;
}
.not_print {
  float: left;
  display: none;
}
.detail {
  display: block;
}
.rightAlign {
	text-align: left;
	padding-left: 10cm;	
	padding-bottom: 1em;	
}
.rightAlignLefter {
	text-align: left;
	padding-left: 10cm;	
	padding-bottom: 1em;	
}
.centerAlign {
	text-align: center;
	display: block;
}
table.list {
  margin: 10px;
  border-collapse: collapse;
}
table.list th {
  text-align: center;
  padding: 2px;
  margin: 0px;
  border:1px solid;
  font-weight: bold;
}
table.list td {
  white-space: nowrap;
  padding-left: 5px;	
  padding-right: 3px;	
  padding-top: 1px;	
  padding-bottom: 1px;	
  margin: 0px;
  border:1px solid;
}
.topMenu {
  display: none;
}
.help {
  display: none;
}

#search {
  display: none;
}
li.second {
  list-style: none;
}
img {
  display: none;
}
a {
  display: none;
}
.smallinfo {
  float: right;
  width: 14ex;
  font-size: small;
}
.printable a {
  display: inline;
  text-decoration: none;
  color: black;  
}
.nonprintable {
  display: none
}
.smallerinfo {
  float: right;
  width: 8ex;
  font-size: 9pt;
  text-align: center;
}
li.higher {height: 2.25em;}
#people_list li {list-style: none; border-bottom: 1px solid black}
#students_list li {list-style: none; border-bottom: 1px solid black}
#student_detail .info {float: right; width: 14ex; position: static}
#Head {
  display: none;
}
#printFooter {
  display: none;
}
#examPrintMessage {
  display: none;
}
.signature {
  display:inline;
}
#loading {display: none}
