.right_info {
  float: right;
  width: 44ex;
}
.right_date {
  float: right;
  text-align: right;
}

hr {
  border: none;
}
h5 {
	font-size: 9pt;
  color: gray;
  padding: 0;
  margin: 0;
  border-top: 1px dashed gray;
}
h1 {
  display: none;
}
p {
  text-align: justify;
}
.instruction {
  display: none;
}

table#students_table {border-collapse: collapse;table-layout: auto;width: 100%;}
table#students_table td{padding-left: .5ex;font-size: 9pt}
table#students_table tr.student_detail {margin: 1px;border-bottom: 1px solid black;}
table#students_table td.student_exception{padding-left: .5ex;color: black; font-size:smaller; font-style:italic}
table#students_table th {text-align: left; border: none}

table#exams_list {border-collapse: collapse;table-layout: auto;width: 100%;}
table#exams_list td{padding-left: .5ex;font-size: 9pt}
table#exams_list tr.student_detail {margin: 1px;border-bottom: 1px solid black;}
table#exams_list td.student_exception{padding-left: .5ex;color: black; font-size:smaller; font-style:italic}
table#exams_list th {text-align: left; border: none}

table#comission_list {border-collapse: collapse;table-layout: auto;width: 100%;}
table#comission_list tr.line {margin: 1px;border-bottom: 1px solid black;}

table#candidates_list {border-collapse: collapse;table-layout: auto;width: 100%;}
table#candidates_list tr.line {margin: 1px;border-bottom: 1px solid black;}
table#candidates_list td {padding-left: 15px; padding-top: 5px}

table#atestation_table {border-collapse: collapse;table-layout: auto;width: 100%;}
table#atestation_table td {padding-left: 15px; padding-top: 5px}
table#atestation_table tr {margin: 1px;border-bottom: 1px solid black;}

table#tutors_table {border-collapse: collapse;table-layout: auto;width: 100%;}
table#tutors_table td {padding-left: .5ex; font-size: 9pt}
table#tutors_table tr.line {margin: 1px;border-bottom: 1px solid #ddc;}

table#diploma_table th {text-align: left; padding-left: .5ex; font-size: 9pt; border-left: none; border-right: none; border-top: none}
table#diploma_table th.action {display: none}
table#diploma_table td {padding-left: .5ex; font-size: 9pt}
table#diploma_table tr {margin: 1px;border-bottom: 1px solid #ddc;}

table#coridors_table {border-collapse: collapse;table-layout: auto;width: 100%;}
table#coridors_table th {text-align: left; padding-left: .5ex; font-size: 9pt; border-left: none; border-right: none; border-top: none}
table#coridors_table td {padding-left: .5ex; font-size: 9pt}
table#coridors_table tr {margin: 1px;border-bottom: 1px solid #ddc;}

table.subjects_table {border-collapse: collapse;table-layout: auto;width: 100%;}
table.subjects_table th {text-align: left; padding-left: .5ex; font-size: 9pt}
table.subjects_table td {padding-left: .5ex; font-size: 9pt}
table.subjects_table tr {margin: 1px;border-bottom: 1px solid #ddc;}

table#scholarship_table {border-collapse: collapse;table-layout: auto;width: 100%;}
table#scholarship_table th {text-align: left; padding-left: .5ex; font-size: 9pt}
table#scholarship_table td {padding-left: .5ex; font-size: 9pt}
table#scholarship_table tr {margin: 1px;border-bottom: 1px solid #ddc;}
table#scholarship_table tr.extra_scholarships {margin: 1px;border-bottom: 1px solid #ddc; background-color: #EEEEEE}


#student_detail li { 
  clear: right; 
  margin: 0 0 0 0;
  padding: 2px 0 0 0.5ex;
  border: none;
  list-style: none; 
}
#error {
  display: none;
}
#notice {
  display: none;
}
p.subject {
  margin-bottom: 80px;
}
.printHeader {
  display: block;
  text-align: center;
}
.printHeader h3, h4 {
  display: block;
  text-align: center;
  font-size: 14pt;
}
#footer {
  display: none;
}
.links {
  display: none;
}
.candidate_login {
  display: none;
}
.right {
  display: none;
}
.dots {
  padding-left: 2em;
  position: absolute;
  left: 18em;
}
.info {
  float: right;
  width: 34ex;
  padding-left: 2em;
  position: absolute;
  left: 13em;
}
.long_info {
  float: right;
  width: 350px;
  font-weight: bolder;
}
.longinfo {
  float: right;
  width: 15em;
  font-size: 9pt;
  text-align: left;
}
.not_print {
  float: left;
  display: none;
}
.detail {
  display: block;
}
.rightAlign {
	text-align: left;
	padding-left: 10cm;	
	padding-bottom: 1em;	
}
.rightAlignLefter {
	text-align: left;
	padding-left: 10cm;	
	padding-bottom: 1em;	
}
.centerAlign {
	text-align: center;
	display: block;
}
table.scholarship {
  border-collapse: collapse;
  border : 0px
}
table.scholarship td,th {
   border: 1px solid #ddc
}
table.list {
  margin: 10px;
  border-collapse: collapse;
}
table.list th {
  text-align: center;
  padding: 2px;
  margin: 0px;
  border:1px solid;
  font-weight: bold;
}
table.list td {
  white-space: nowrap;
  padding-left: 5px;	
  padding-right: 3px;	
  padding-top: 1px;	
  padding-bottom: 1px;	
  margin: 0px;
  border:1px solid;
}
.topMenu {
  display: none;
}
.help {
  display: none;
}

#search {
  display: none;
}
li.second {
  list-style: none;
}
img {
  display: none;
}
a {
  display: none;
}
.smallinfo {
  float: right;
  width: 10ex;
  font-size: smaller;
}
.printable a {
  display: inline;
  text-decoration: none;
  color: black;  
}
.nonprintable {
  display: none
}
.smallerinfo {
  float: right;
  width: 8ex;
  font-size: 9pt;
  text-align: center;
}
li.higher {height: 2.25em;}
#people_list li {list-style: none; border-bottom: 1px solid black}
#students_list li {list-style: none; border-bottom: none;}
#student_detail .info {float: right; width: 14ex; position: static}
#Head {
  display: none;
}
#printFooter {
  display: none;
}
#examPrintMessage {
  display: none;
}
.signature {
  display:inline;
}
#loading {display: none}
.student_detail li {padding-top: 2px; padding-bottom: 2px;font-size: 12px}

table.letter_header th {
  border: none;
  text-align: left;
  padding-right: 1em;
  font-weight: normal;
}
table.letter_header td {
  text-align: left;
  border: none;
}
table.letter_header {
  margin-bottom: 1em 0 1em 0;
}
.final_exam_term {
  border-top: 1px solid black;
}
table.three-columns {
  padding: 1em;
  width: 100%;
}
table.three-columns th {
  text-align: left;
  border: none;
}
table.three-columns td.dotted {
  border: none;
  width: 20%;
}
table.two-columns {
  padding: 0.5em;
}
table.two-columns th {
  text-align: left;
  border: none;
}
table.two-columns td {
  padding-top: .5ex;
}
table.bigger td {
  font-size: x-large;
}
.centered, .smaller {
  text-align: center;
}
table.condensed {
  width: 70%;
}
table.wide {
  width: 95%;
}
table.wide th {
  width: 65%;
}


img.text-content-top-image {
  display: none;
}