
body { margin: 0px;  color: black; }

body, p, ol, ul, td {
    font-family: "lucida", sans-serif;
    font-size:   16px;
    line-height: 18px;
}

a {
  color: #003366; 
  font-weight: bold;
} 
a:hover { color: red }

hr {
  color: black;
  border-top: 1px solid black;
}
h1, h2, h3, h4, h5 { color: black; font-family: times; line-height: 20pt }
h1 { 
  font-size: 20pt;
  background-color: #ffd;
  padding-left: 12%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
  border-bottom: 1px solid gray;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 10px 40%;
}
h2 { font-size: 24px; margin: 5px; }
h3 { font-size: 20px; margin: 5px; }
h4, h5 { padding: 4px; margin: 0px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; margin-top: 10px;}

li { 
  margin-bottom: 8px;
  padding-left: 15px;
  background-image: url(../images/arrow.gif);
  background-repeat: no-repeat;
  background-position: 0 .3em;
  list-style: none;
}

.hidden { display: none; }
.detail {  padding: 10px; width: 30em; margin-bottom: 10px;}
pre { background-color: #eee; padding: 10px; font-size: 11px; }


p {
  padding-left: 20px;
}

div.general h3, h4, h5 { padding-left: 10px;}
div.general p { padding: 10px;}
div.general ol { border: none }
ul.info {
  margin-bottom: 10px;
  width: 100%;
  background-color: white;
  border: 1px solid #E6F2FF;
  padding: 0px;
}

form {
  padding-left: 10px;
}

#main {  padding: 0px; }
.notice { 
  color: darkblue;
  font-style: italic;
  padding: 6px;
  padding-left: 12%;
  font-size: 12pt;
  margin-bottom: 2px;
}
#error {
  color: red;
  font-style: italic;
  padding: 6px;
  padding-left: 12%;
  background-color: white;
  font-size: 12pt;
}
#error li {
  font-size: 9pt;
  padding: 1px;
  margin: 1px;
  padding-left: 12px;
  background-position: 0 .5em;
  background-image: url(../images/sarrow.gif);
}
#error ul {
  padding: 1px;
  margin: 1px;
  padding-left: 30px;
}
  
.noact { color: #666; font-size: 10px; }
.centered, .smaller {
  text-align: center;
}
#footer {
  background-color: white;
  width: 100%;
  border-top: 1px solid #ffd;
  font-size: 9px;
  text-align: right;
  padding: 6px;
}
label {
  margin: 0px;
  font-size: 12pt;
  width: 30ex;
  text-align: right; 
  margin: 5px 1em 5px 0;
  clear: both;
  float: left;
}
input, select  {
  margin-top: 0px;
  border: 1px solid black;
  margin: 5px 0 5px 0;
} 
fieldset {
  border: 1px solid #ffa;
  width: 41em;
  margin-bottom: 5px;
}
legend {
  padding: 1px;
}
.required {
  color: red;
}
#action {
  text-align: center;
  vertical-align: middle;
}
div.fieldWithErrors {
  border: 1px solid red;
  border-left: 9px solid red;
  background-color: #ffd;
  margin: 0px;
  padding: 0px;
}
div.fieldWithErrors label { color: red; }
.info {
  padding-left: 2em;
  position: absolute;
  left: 20em;
  font-size: smaller;
}
.footer { padding-top: 10em; font-size: 10pt; }
.signature { display: none; }
.strut { display: none; }
.printHeader h2, h3, h4 { display: none; }
.printHeader { display: none; }
.right { float: right; width: 20em;}
.right a {
  font-size: smaller;
  background-color: white;
  padding: 3px;
  border: 1px solid gray;
  text-decoration: none;
} 
.links {
  background-color: #ffd;
  width: 100%;
  font-size: smaller;
  margin-left: 1%;
}
.links a {
  background-color: white;
  padding: 3px;
  width: 50%;
  border: 1px solid gray;
  text-decoration: none;
}
a.choosen {
  border: 1px solid red;
}
.smallInfo {
  font-size: x-small;
  color: gray;
}
