body { 
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  border-top: 1px solid #452;
  border-right: 1px solid #452;
  border-left: 1px solid #ddc;
  border-bottom: 1px solid #ddc;
  width: 760px;
  background-color: #FFF;
}

body, p, ol, ul, td {
    font-family: "Calibri", "lucida", sans-serif;
    font-size:   16px;
}

.red {
  color: red
}

a {
  color: #003366; 
} 
a:hover { color: red }

.t1 {
  text-align: center;
}

tr.student {
  border-bottom: 1px solid #ddc;
  border-left: 3px solid #ddc;
  }

table.scholarship { 
  border-collapse: collapse; 
  border : 0px; 
}

table.scholarship th { 
  border: 1px 
  solid #ddc 
}

table.scholarship td { 
  border: 1px 
  solid #ddc 
}

table.scholarship td.number {
  text-align: right;
}

table.scholarship_disponent{
  border-collapse: collapse; 
  border : none;
  float: right;
}

a.facebook { background-image: url(/images/ico_facebook.gif);
  background-position:left center;
  background-repeat:no-repeat;
  padding-left:15px;}

tar { text-align: right }

hr {
  color: black;
  border-top: 1px solid black;
}
h1, h2, h3, h4, h5 { color: black;}
/*h1 { 
  font-size: 12pt;
  padding-left: 1.5em;
  margin: 0px;
  color: #ddc;
  line-height: 15pt;
  border-bottom: 1px solid #784;
  border-top: 1px solid #784;
}*/
h2 { font-size: 24px; margin: 5px; }
h3 { font-size: 20px; margin: 5px; }
h4 { padding: 4px; margin: 0px; font-size: 18px; text-align: center; }
h6 { padding: 4px; margin: 0px; font-size: 14px; }
h4.displayname { padding: 4px; margin: 0px; font-size: 14px; text-align: left;}

/*h5 { 
  font-size: 16px;
  margin: 0px;
  margin-top: 0.5ex; 
  border-bottom: 1px solid #784;
  border-top: 1px solid #784;
  border-left: 10px solid #784;
  background-color: #ddc;
  color: #452;
}*/

li { 
  clear: right; 
  margin: 0 0 0 0;
  padding: 2px 0 0 0.5ex;
  border-bottom: 1px solid #ddc;
  border-left: 3px solid #ddc;
  list-style: none; 
}

li.second { 
  padding-left: 2em;
  background-color: white;
}
li.third { 
  padding-left: 4em;
  background-color: #ddc;
}
li.letter { 
  border: none;
}
ul {
  margin-top: 0px;
  padding-left: 13px;
  margin-bottom: 1ex;
}

ul.peopleList {
  padding-left: 0;
}

.hidden { display: none; }
.detail {  font-size: 9pt; color: #666;padding: 0px 4px 4px 0px; margin: 0px;}
pre { background-color: #eee; padding: 10px; font-size: 11px; }
p {
  padding-left: 20px;
}

div.general h3, h4, h5 { padding-left: 10px;}
div.general p { padding: 10px;}
div.general ol { border: none }
ul.info {
  margin-bottom: 10px;
  width: 100%;
  background-color: white;
  border: 1px solid #E6F2FF;
  padding: 0px;
}

form {
  padding-left: 10px;
}

#main {  padding: 0px;}
.notice { 
  color: darkblue;
  font-style: italic;
  padding: 6px;
  padding-left: 12%;
  font-size: 12pt;
  margin-bottom: 2px;
}
#error {
  color: red;
  font-style: italic;
  padding: 6px;
  padding-left: 12%;
  background-color: white;
  font-size: 12pt;
}
#error li {
  font-size: 12pt;
  padding: 1px;
  padding-left: 3px;
}
#error ul {
  padding: 1px;
  padding-left: 30px;
}
  
.noact { color: #666; font-size: 10px; }
.centered, .smaller {
  text-align: center;
}
#footer {
  background-color: white;
  border-top: 1px solid #ffd;
  font-size: 9px;
  text-align: right;
  padding: 6px;
}
label.bigger {
  font-weight: bolder;
}
label.actuality {
  font-size: 13px;
  width: 40px;
  margin: 0px;
  text-align: right; 
  padding-right: 1em;
  padding-top: 2px;
  clear: both;
  float: left;
}

div.actuality ol li {
  list-style-type: decimal;
  border-bottom: none;
  border-left: none;
  
}

div.actuality ul li {
  list-style-type: disc; 
  border-bottom: none;
  border-left: none;
  
}


input.actuality_submit {
  margin-left: 73px;
}

label {
  font-size: 13px;
  width: 280px;
  margin: 0px;
  text-align: right; 
  padding-right: 1em;
  padding-top: 5px;
  clear: both;
  float: left;
}
.subject {
  font-size: 13px;
  width: 280px;
  margin: 0px;
  text-align: right; 
  margin: 5px 1em 5px 0;
  clear: both;
}

li.unfinished {
  background-color: #b00;
  color: white;
}

input, select  {
  margin-top: 0px;
  border: 1px solid black;
} 

fieldset {
  border: 1px solid #b00;
	width: 690px;
  margin-bottom: 5px;
  margin-left: 2.0ex;
  padding: 0.3ex;
  padding-left: 2ex;
}
legend {
  padding: 0.5ex;
  padding-bottom: 0;
}
.required {
  color: red;
}
#action {
  text-align: center;
  vertical-align: middle;
}
div.fieldWithErrors {
  border: 1px solid red;
  border-left: 9px solid red;
  background-color: #ffd;
  margin: 0px;
  padding: 0px;
}

div.small div.fieldWithErrors {
  border: 1px solid red;
  border-left: 9px solid red;
  background-color: #ffd;
  margin: 0px;
  padding: 0px;
  display: inline;
}


ul.rightList {
 float: right;
}

li div.fieldWithErrors {
  border: 1px solid red;
  border-left: 9px solid red;
  background-color: #ffd;
  margin: 0px;
  padding: 0px;
  display: inline;
}
div.fieldWithErrors label { color: red; }
.smallinfo {
  float: right;
  width: 14ex;
  font-size: 9pt;
  text-align: left;
}
.smallerinfo {
  float: right;
  width: 8ex;
  font-size: 9pt;
  text-align: center;
}
.x-longinfo {
  float: right;
  width: 37em;
  font-size: 9pt;
  text-align: left;
}
.longerinfo {
  float: right;
  width: 27em;
  font-size: 9pt;
  text-align: left;
}
.longinfo {
  float: right;
  width: 15em;
  font-size: 9pt;
  text-align: left;
}


.dateinfo {
  float: right;
  width: 15ex;
  font-size: 9pt;
  text-align: left;
}

.info {
  float: right;
  width: 14ex;
}
.long_info {
  float: right;
  width: 480px;
}
.important_notice {
  color: red;
}
h5 a {
  font-size: 14px;
}
pre.detail {
  background-color: #ffffff; padding: 10px; padding-left: 30px; font-size: 11px;
}
.footer { padding-top: 11em; font-size: 10pt; }
.footerLeft {float: left}
.signature { display: none; }
.strut { display: none; }
h2.printHeader, h3.printHeader, h4.printHeader { display: none; }
div.printHeader { display: none; }
.right { float: right; text-align: right; padding-right: 1em; font-size: 14px;}
.topMenu { 
  float: right;
  text-align: right;
  font-size: 11pt;
  border: 1px solid #ddc;
  border-left: 1px solid #ddc;
  margin-top: 1px;
  background-color: #ddc;
}

.topMenu a { 
  color: #b00;
  padding: 2px;
  text-decoration: none;
}
.topMenu a:hover { 
 color: #784;
}
.right a {
  padding: 1px;
} 
.links {
  background-color: #ddc;
	padding-right: 1em;
	text-align: right;
	font-size: 14px;
}
.links a {
  width: 50%;
}
.smallInfo {
  font-size: x-small;
  color: gray;
}
a.revocation {
  font-size: small;
  color: red;
  padding-left: 3em;
  text-decoration: none;
  }
.statusInfo {
  font-size: small;
  color: red;
  padding-left: 3em;
}
.rightAlign {
	text-align: right;
	padding-right: 1em;	
	padding-bottom: 1em;	
}
.centerAlign {
	text-align: center;
}
table.list {
  margin: 10px;
  border-collapse: collapse;
}
table.list th {
  text-align: center;
  padding: 2px;
  margin: 0px;
  border:1px solid;
}
table.list td {
  padding-left: 5px;	
  padding-right: 3px;	
  padding-top: 1px;	
  padding-bottom: 1px;	
  margin: 0px;
  border:1px solid;
}
#HeadMenu {
	margin-left: auto;
	margin-right: auto;
	width: 760px;
	height: 72px;
	background-image: url(/images/head_bg_long.gif);
	background-repeat: repeat-x;
	text-align: left;
        padding: 0px;
}
#HeadMenuContent {
	padding-left: 10px;
	padding-right: 10px;
}

#HeadMenuLinks {float: right; width: auto;}

#HeadMenuUser { width: 230px;}

#HeadMenu h1 {
	margin: 0;
	padding: 0;
	padding-top: 5px;
	font-size: 14px;
	color: White;
}
#Head {
	margin-left: auto;
	margin-right: auto;
  padding: 0px;
}

#HeadMenu a {
        padding: 5px;
	/*width: 51px;*/
	height: 20px;
	/*background-image: url(/images/tl.off.gif);*/
	/*background-repeat: no-repeat;*/
	float: right;
	font-size: 14px;
	color: White;
	text-decoration: none;
}
#HeadMenu #HeadMenuLinks #space_span{
        float: right;
        height: 20px;
        padding: 5px;
}

#HeadMenu #HeadMenuLinks br {
      clear: right;
}
h5 {
	margin: 0;
	margin-top: 20px;
	margin-bottom: 0;
	padding: 0;
	color: white;
	font-size: 13px;
	height: 17px;
	padding-left: 30px;
	padding-top: 3px;
	background-image: url(/images/h5_bg.gif);
	background-repeat: no-repeat;
}
.finished {
  padding-left: 3px;
  color: #bbb;
  font-size: smaller;
}
.absolved {
  padding-left: 3px;
  color: #666;
  font-size: smaller;
}
.finished a {
  color: #aaa;
}

.right_info {
  float: right;
  text-align: left;
  width: 450px;
  padding-left: 10px;
  font-weight: bold;
}
.form_info {
  font-size: 12px;
  color: #443;
}
.legend_link {
  font-size: 14px;
  text-decoration: none;
}
.form { font-size: 14px; }
ul.nodecor li {
  border: none;
  clear: both;
  vertical-align: middle;
}
form.no_block {display: inline;}
.long_info option, input {font-size: 13px}
div.menu {text-align: center; width: 15ex; float: right; background-color: #ddc; border-right: 1px solid white;}
div.menu a { font-size: small;}
table#students_table.menu_line {border-top: 1px solid #452;}
table#students_table div.menu_style {background-color: #ddc;}
table#students_table {border-collapse: collapse;table-layout: auto;width: 100%;}
table#students_table td {padding-left: .5ex; font-size: smaller}
table#students_table td.student_exception{padding-left: .5ex;color: red; font-size:smaller; font-style:italic}
table#students_table th {text-align: left;}
table#students_table a {text-decoration: none}
div#diploma_supplement {border: solid red;}
div#diploma_supplement li{border: none}
table#exams_list {border-collapse: collapse;table-layout: auto;width: 100%;}
table#exams_list td {padding-left: .5ex; font-size: 9pt}
table#exams_list tr.student_detail {margin: 1px;border-bottom: 1px solid #ddc;}
table#exams_list th {text-align: left; padding-left: 15px;}
table#exams_list td.smallerinfo {font-size: 9pt;text-align: center;}
table#comission_list {border-collapse: collapse;table-layout: auto;width: 100%;}
table#comission_list td {padding-left: 15px; }
table#comission_list tr.line { margin: 1px;border-bottom: 1px solid #ddc;}
table#candidates_list {border-collapse: collapse;table-layout: auto;width: 100%;}
table#candidates_list tr.line {margin: 1px;border-bottom: 1px solid #ddc;}
table#candidates_list td {padding-left: 15px; }
table#candidates_list td.contact {color:#666666; font-size:9pt; margin:0px;}
table#candidates_list td.history {color:#666666; font-size:9pt; margin:0px;}
table#atestation_table {border-collapse: collapse;table-layout: auto;width: 100%;}
table#atestation_table td {padding-left: 15px; font-size: 9pt;}
table#atestation_table th {text-align: left; padding-left: 15px; font-size: 9pt;}
table#atestation_table tr {margin: 1px;border-bottom: 1px solid #ddc;}
table#tutors_table {border-collapse: collapse;table-layout: auto;width: 100%;}
table#tutors_table td {padding-left: .5ex; font-size: 9pt}
table#tutors_table tr.line {margin: 1px;border-bottom: 1px solid #ddc;}
table#emails_table {border-collapse: collapse;table-layout: auto;width: 100%;}
table#emails_table td {padding-left: .5ex; font-size: 9pt}
table#emails_table tr.line {margin: 1px;border-bottom: 1px solid #ddc;}
table#diploma_table {border-collapse: collapse;table-layout: auto;width: 100%;}
table#diploma_table th {text-align: left; padding-left: .5ex; font-size: 9pt}
table#diploma_table td {padding-left: .5ex; font-size: 9pt}
table#diploma_table tr {margin: 1px;border-bottom: 1px solid #ddc;}
table#coridors_table {border-collapse: collapse;table-layout: auto;width: 100%;}
table#coridors_table th {text-align: left; padding-left: .5ex; font-size: 9pt}
table#coridors_table td {padding-left: .5ex; font-size: 9pt}
table#coridors_table tr {margin: 1px;border-bottom: 1px solid #ddc;}
table.subjects_table {border-collapse: collapse;table-layout: auto;width: 100%;}
table.subjects_table th {text-align: left; padding-left: .5ex; font-size: 9pt}
table.subjects_table td {padding-left: .5ex; font-size: 9pt}
table.subjects_table tr {margin: 1px;border-bottom: 1px solid #ddc;}
table#scholarship_table {border-collapse: collapse;table-layout: auto;width: 100%;}
table#scholarship_table th {text-align: left; padding-left: .5ex; font-size: 9pt}
table#scholarship_table td {padding-left: .5ex; font-size: 9pt}
table#scholarship_table tr {margin: 1px;border-bottom: 1px solid #ddc;}
table#scholarship_table tr.extra_scholarships {margin: 1px;border-bottom: 1px solid #ddc; background-color: #EEEEEE}


.smallerinfo a {background-color: #452; padding-right: 4px; padding-left: 2px; color: #fff;}
.exam_detail {margin: 1px;padding-left: .5ex}
#student_list li {clear: both; padding: 0px;}
li.higher {height: 2.25em;}
.red {color: red}
li.tiny {clear: both;}
a img {border: none}
.smallinfo input, a, img {vertical-align: middle; padding: 0px; margin: 0px}
.smallinfo input {border: 1px dashed #ccc;}
ul.tiny {padding: 0px;margin: 0px;}
ul.tiny form {padding: 0px;margin: 0px;font-size: 10pt}
ul.tiny li {border: none; background-color: #eee;font-size: 10pt; width: 30em;}
.tiny form {padding: 0px;}
.detail input {border: 1px dashed #ccc;vertical-align: middle; padding: 0px; margin: 0px;}
div.small { float: right; font-size: 9pt; text-align: left;}
li.subject_select {border: none; padding-left: 100px; clear: both;}
.left {float: left; padding-left: 1ex;}
.details form, input {margin: 0px; padding: 0px;}
.details input { border: 1px dashed #999;}
a.details_link {font-family:"Calibri","lucida",sans-serif; color: black; border: 1px solid black;margin-top: 0px;margin: 0px;
                padding-top: 1px; padding-left: 4px; padding-right: 4px; padding-bottom: 1px; font-size:13px; background-color:#ddc; font-style:normal; text-decoration:none;}

#image_submit {border: 0px}
a.change_field {border: 1px solid white;text-decoration: none; color: black}
a:hover.change_field {border: 1px dashed #ccc; color: black}
.noborder input {border: none}
#sum ul {padding: 0px; margin: 0px; background: #ddc; border-bottom: 1px solid white;}
#sum ul li {border-top: 1px solid white; color: black;}

.nodecor textarea {margin-left:10%} 
table.letter_header th {
border: none;
text-align: left;
padding-right: 1em;
font-weight: normal;
}
table.letter_header td {
border: none;
}
table.letter_header {
margin: 1em 0 1em 0;
}
li p {
margin: 0px 0 16px 0px
}
.final_exam_term {
border-top: 1px solid black;
}
table.three-columns {
margin-left: 2em;
}
table.three-columns th {
text-align: left;
}
table.three-columns td {
padding-top: .8ex;
}
table.two-columns {
margin-left: 2em;
}
table.two-columns table.two-columns {
padding: 0;
margin: 0;
}
table.two-columns th {
text-align: left;
width: 50%;
}
table.two-columns td {
border: none;
padding-top: .5ex;
}
.right_date {
float: right;
text-align: right;
}
div#name_search { padding-bottom: 1ex;}
div#name_search label {padding-top: 0}
div#fast_filters {padding-bottom: 2ex;}
div#fast_filters ul li {list-style: none; float: left; border: none;  width: 15ex; text-align: center;padding-right: 1ex;}
#name_search input {font-size: large}
.action-link a {background: #ddc; padding: 0 3px; font-size: small;}
.form-line {background: #ddc;text-align: right;}
.student-line {font-size: medium;border-bottom: 1px solid #ddc;}
.selected {font-size: large; background: #fee; border-top: 3px solid #dcc;}
.once-selected {border-left: 3px solid #dcc;}
.filter-line {margin-bottom: 1ex}
.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #000099;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #000099;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}
table.bigger td {
  font-size: x-large;
}
table.condensed {
  width: 70%;
}
table.wide {
  width: 95%;
}
table.wide th {
  width: 65%;
}
.bigger a {
  font-size: large;
}
#opened {
  font-size: smaller;
}
