body { 
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  border-top: 1px solid #452;
  border-right: 1px solid #452;
  border-left: 1px solid #ddc;
  border-bottom: 1px solid #ddc;
  width: 760px;
  background-color: #FFFFFF;
}

body, p, ol, ul, td {
    font-family: "Calibri", "lucida", sans-serif;
    font-size:   16px;
}

a {
  color: #003366; 
} 
a:hover { color: red }

hr {
  color: black;
  border-top: 1px solid black;
}
h1, h2, h3, h4, h5 { color: black;}
/*h1 { 
  font-size: 12pt;
  padding-left: 1.5em;
  margin: 0px;
  color: #ddc;
  line-height: 15pt;
  border-bottom: 1px solid #784;
  border-top: 1px solid #784;
}*/
h2 { font-size: 24px; margin: 5px; }
h3 { font-size: 20px; margin: 5px; }
h4 { padding: 4px; margin: 0px; font-size: 18px; }
/*h5 { 
  font-size: 16px;
  margin: 0px;
  margin-top: 0.5ex; 
  border-bottom: 1px solid #784;
  border-top: 1px solid #784;
  border-left: 10px solid #784;
  background-color: #ddc;
  color: #452;
}*/

li { 
  margin: 0 0 0 0;
  padding: 2px 0 0 0.5ex;
  border-bottom: 1px solid #ddc;
  border-left: 3px solid #ddc;
  list-style: none; 
}

li.second { 
  padding-left: 2em;
  background-color: white;
}
li.third { 
  padding-left: 4em;
  background-color: #ddc;
}
ul {
  margin-top: 0px;
  padding-left: 3ex;
  margin-bottom: 1ex;
}

ul.peopleList {
  padding-left: 0;
}

.hidden { display: none; }
.detail {  padding: 10px; width: 30em; margin-bottom: 10px;}
pre { background-color: #eee; padding: 10px; font-size: 11px; }


p {
  padding-left: 20px;
}

div.general h3, h4, h5 { padding-left: 10px;}
div.general p { padding: 10px;}
div.general ol { border: none }
ul.info {
  margin-bottom: 10px;
  width: 100%;
  background-color: white;
  border: 1px solid #E6F2FF;
  padding: 0px;
}

form {
  padding-left: 10px;
}

#main {  padding: 0px;}
.notice { 
  color: darkblue;
  font-style: italic;
  padding: 6px;
  padding-left: 12%;
  font-size: 12pt;
  margin-bottom: 2px;
}
#error {
  color: red;
  font-style: italic;
  padding: 6px;
  padding-left: 12%;
  background-color: white;
  font-size: 12pt;
}
#error li {
  font-size: 12pt;
  padding: 1px;
  padding-left: 3px;
}
#error ul {
  padding: 1px;
  padding-left: 30px;
}
  
.noact { color: #666; font-size: 10px; }
.centered, .smaller {
  text-align: center;
}
#footer {
  background-color: white;
  border-top: 1px solid #ffd;
  font-size: 9px;
  text-align: right;
  padding: 6px;
}
label {
  margin: 0px;
  width: 20em;
  text-align: right; 
  margin: 5px 1em 5px 0;
  clear: both;
  float: left;
}
label.smaller {
  width: 13em;
}
li.unfinished {
  background-color: #b00;
  color: white;
}

input, select  {
  margin-top: 0px;
  border: 1px solid black;
  margin: 5px 0 5px 0;
} 
fieldset {
  border: 1px solid #b00;
  width: 44em;
  margin-bottom: 5px;
  margin-left: 2.0ex;
  padding: 1ex;
}
legend {
  padding: 1ex;
}
.required {
  color: red;
}
#action {
  text-align: center;
  vertical-align: middle;
}
div.fieldWithErrors {
  border: 1px solid red;
  border-left: 9px solid red;
  background-color: #ffd;
  margin: 0px;
  padding: 0px;
}
div.fieldWithErrors label { color: red; }
.smallinfo {
  float: right;
  width: 14ex;
  font-size: small;
}
.smallerinfo {
  float: right;
  width: 8ex;
  font-size: small;
}
.info {
  float: right;
  width: 14ex;
}
.long_info {
  float: right;
  width: 480px;
}
.important_notice {
  color: red;
}
h5 a {
  font-size: 14px;
}
pre.detail {
  background-color: #ffffff; padding: 10px; padding-left: 30px; font-size: 11px;
}
.footer { padding-top: 11em; font-size: 10pt; }
.signature { display: none; }
.strut { display: none; }
.printHeader h2, h3, h4 { display: none; }
.printHeader { display: none; }
.right { float: right; text-align: right; padding-right: 1em; font-size: 14px;}
.topMenu { 
  float: right;
  text-align: right;
  font-size: 11pt;
  border: 1px solid #ddc;
  border-left: 1px solid #ddc;
  margin-top: 1px;
  background-color: #ddc;
}

.topMenu a { 
 color: #b00;
 padding: 2px;
  text-decoration: none;
}
.topMenu a:hover { 
 color: #784;
}
.right a {
  padding: 1px;
} 
.links {
  background-color: #ddc;
	padding-right: 1em;
	text-align: right;
	font-size: 14px;
}
.links a {
  width: 50%;
}
.smallInfo {
  font-size: x-small;
  color: gray;
}
.statusInfo {
  font-size: small;
  color: red;
  padding-left: 3em;
}
.rightAlign {
	text-align: right;
	padding-right: 1em;	
	padding-bottom: 1em;	
}
.centerAlign {
	text-align: center;
}
table.list {
  margin: 10px;
  border-collapse: collapse;
}
table.list th {
  text-align: center;
  padding: 2px;
  margin: 0px;
  border:1px solid;
}
table.list td {
  padding-left: 5px;	
  padding-right: 3px;	
  padding-top: 1px;	
  padding-bottom: 1px;	
  margin: 0px;
  border:1px solid;
}
div#loading {
  position: absolute; 
  top: 0;
  width: 760px;
  z-index: 1;
  background-color: red;
  color: darkgray;
  font-size: 30pt;
  padding-top: 20%;
  text-align: center;
  border-top: 1px solid #ddc;
  border-bottom: 1px solid #ddc;
}
#HeadMenu {
	margin-left: auto;
	margin-right: auto;
	width: 760px;
	height: 36px;
	background-image: url(/images/head_bg.gif);
	background-repeat: repeat-x;
	text-align: left;
  padding: 0px;
}
#HeadMenuContent {
	padding-left: 10px;
	padding-right: 10px;
}

#HeadMenu h1 {
	margin: 0;
	padding: 0;
	padding-top: 5px;
	font-size: 14px;
	color: White;
}
#Head {
	margin-left: auto;
	margin-right: auto;
  padding: 0px;
}

#HeadMenu a {
  padding: 5px;
	/*width: 51px;*/
	height: 20px;
	/*background-image: url(/images/tl.off.gif);*/
	/*background-repeat: no-repeat;*/
	float: right;
	font-size: 14px;
	color: White;
	text-decoration: none;
}
h5 {
	margin: 0;
	margin-top: 20px;
	margin-bottom: 0;
	padding: 0;
	color: white;
	font-size: 13px;
	height: 17px;
	padding-left: 30px;
	padding-top: 3px;
	background-image: url(/images/h5_bg.gif);
	background-repeat: no-repeat;
}

/*
#HeadMenu a:hover {
	background-image: url(/images/tl.on.gif);	
}
*/

