<h1>New language</h1>

<%= error_messages_for 'language' %>
<!--[form:language]-->
<%= start_form_tag :action => 'create' %>
<%= hidden_field 'language', 'id' %>
<p><label for="language_name">Name</label><br /><%= text_field 'language', 'name'  %></p>
<input type="submit" value="Create" />
<%= end_form_tag %>
<!--[eoform:language]-->


<%= link_to 'Back', :action => 'list' %>
