Dobrý den,

bylo Vám přiděleno uživatelské jméno pro přístup do systému Edoktorand:

uživatelské jméno: <%= @student.user.login %>

uživatelské heslo: <%= @student.user.init_password %>

Do aplikace se můžete přihlásit na adrese http://edoktorand.czu.cz.

Při jakýchkoliv nesrovnalostech prosím kontaktujte helpdesk@czu.cz.

S pozdravem system Edoktorand

