Dobrý den,

bylo Vám přiděleno uživatelské jméno pro přístup do systému Edoktorand:

uživatelské jméno: <%= @student.user.login %>

heslo je buď stejné jako uživatelské jméno, nebo Vámi používané heslo do systému Novell.

S pozdravem system Edoktorand

