Koridor: <%=@coridor%>
Školitel: <%=@tutor%>
Ročník: <%=@year%>
přerušeno od: <%=@interupted_on%>
Podána žádost o přerušení: <%=@admited_interrupt_start%>
Trvání: <%=@admited_interrupt_duration%>
Poslední přerušení tohoto studia: <%=@last_interrupt%>

Student <%=@first_name%> <%=@last_name%> <%=@birth_number%> se chystá přerušit studium.

Poznámka: <%=@note%> 
