Koridor: <%=@specialization%>
Školitel: <%=@tutor%>
Ročník: <%=@year%>
přerušeno od: <%=@interrupted_on%>
Podána žádost o přerušení: <%=@admitted_interrupt_start%>
Trvání: <%=@admitted_interrupt_duration%>
Poslední přerušení tohoto studia: <%=@last_interrupt%>

Student <%=@first_name%> <%=@last_name%> <%=@birth_number%> se chystá přerušit studium.

Poznámka: <%=@note%> 
