<%= t(:message_0, :scope => [:view, :notifications, :invite_to_defense]) %>,

<%= t(:message_1, :scope => [:view, :notifications, :invite_to_defense]) %>

<%= t(:message_2, :scope => [:view, :notifications, :invite_to_defense]) %>
