<%= t(:message_0, :scope => [:view, :notifications, :invite_to_final_exam]) %>,

<%= t(:message_1, :scope => [:view, :notifications, :invite_to_final_exam]) %>

<%= t(:message_2, :scope => [:view, :notifications, :invite_to_final_exam]) %>
