V Praze dne <%= @sent_on %>

Vážený pane inženýre/paní inženýrko,


po projednání Vaší přihlášky ke studiu v doktorském oboru <%= @coridor %>
na fakultě lesnické a environmentální ČZU v Praze Vám sděluji, že jste nebyl
ke studiu přijat.

Proti tomuto rozhodnutí je možno podat odvolání k rukám děkana fakulty lesnické a environmentální
ČZU v Praze do 30&nbsp;dnů ode dne doručení.



Prof. Ing. Vilém Podrázský, CSc.
děkan FLE

