<% unless @candidate.errors.empty? %>
<div id='error'>
<%= _("Error") %>:
<%= flash[:error] %>
<% if @candidate && !@candidate.errors.empty? %>
<ul>
<% @candidate.errors.each do |attr, message| %>
     <li><%= message %></li>
<% end %>
</ul>
<% end %>
</div>
<% else %>
<div class='notice'>
   <%= _("Fields in red are required") %>
</div>
<% end %>
