<div class="printHeader">
  <h3><%= t(:message_0, :scope => [:txt, :view, :form, :_preview_header, :rhtml]) %></h3>
  <h3><%= t(:message_1, :scope => [:txt, :view, :form, :_preview_header, :rhtml]) %>: <%= @candidate.specialization.faculty.name %></h3>
</div>
