<div class='links'><%= hide_link('final_exam') %></div>
 
<% create_form do -%>
  <%= render(:partial => "form") %>
  <%= submit_tag t(:message_0, :scope => [:txt, :view, :final_exam_terms, :_edit, :rhtml]), :id => 'submit-button' %>
<% end %>

