<div class='links'>
  <%= hide_link('final_exam') %>
  <span id='invitation_link'>
    <%= send_invitation_link(@user, @exam_term.index) %>
  </span>
</div>
<%= render(:partial => 'detail', 
  :locals => {:exam_term => @exam_term, :many => false}) %>
