<li id='term_<%= term_line.id %>'>
  <div class='right'><%= protocol_link term_line %></div>
  <%= check_box_tag "terms[]", term_line.id  %>
  <b><%= term_line.index.student.display_name %></b><br /> 
  <%= "%s %s %s" % [term_line.date_time, _('in'), term_line.room] %>
</li>
