<tr id='term_<%= term_line.id %>'>
  <th class="no-rounded" style="width:25px"><%= check_box_tag "terms[]", term_line.id  %></th>
  <td>
    <b><%= term_line.index.student.display_name %></b><br />
  </td>
  <td>
    <%= "%s %s %s" % [term_line.date_time, t(:message_0, :scope => [:txt, :view, :final_exam_terms, :_term_line, :rhtml]), term_line.room] %>
  </td>
  <td class='right'><%= protocol_link term_line %></td>
</tr>
