<h5><%= @title %></h5>
<div class='links'><%= admission_exam_terms_link %></div>
<% form_tag :action => 'prepare_print' do -%>
<ul>
  <%= render(:partial => 'term_line', :collection => @final_exam_terms) %>
</ul>
<%= submit_tag _('print invitation letter') %>
<% end %>
