<h5><%= @title %></h5>
<div class='links'>
  <%= admission_exam_terms_link %>
  <%= defense_terms_link %>
</div>
<% form_tag :action => 'prepare_print' do -%>
<ul>
  <%= render(:partial => 'term_line', :collection => @final_exam_terms) %>
</ul>
<% if @final_exam_terms != []%>
  <%= submit_tag t(:message_0, :scope => [:txt, :view, :final_exam_terms, :list, :rhtml]) %>
<% end %>
<% end %>
