<div class='links'>
    <%= send_invitation_link(@user, @exam_term.index, 'mail') %>
    <%= send_invitation_link(@user, @exam_term.index, 'no mail') %>
</div>
<%= render(:partial => 'detail', :locals => {:exam_term => @exam_term, :many => false}) %>
