<ul>
<li>
<%= attribute_line(student.address, :street) %>
<%=_ 'Street' %>:
</li>
<li>
<%= attribute_line(student.address, :desc_number) %>
<%=_ 'street number' %>:
</li>
<li>
<%= attribute_line(student.address, :city) %>
<%=_ 'City' %>:
</li>
<li>
<%= attribute_line(student.address, :zip) %>
<%=_ 'zip' %>:
</li>
</ul>
