<ul>
<li>
<%= street_line(student) %>
<%=_ 'Street' %>:
</li>
<li>
<%= desc_number_line(student) %>
<%=_ 'street number' %>:
</li>
<li>
<%= city_line(student) %>
<%=_ 'City' %>:
</li>
<li>
<%= zip_line(student) %>
<%=_ 'zip' %>:
</li>
</ul>
