<li>
  <div class='info'><%= interupt.start_on.strftime('%d. %m. %Y') %></div>
  <%= t(:message_0, :scope => [:txt, :view, :shared, :_interupt, :rhtml]) %>
</li>
<% if interupt.finished_on %>
  <%= interupt_finish_line(interupt) %>
<% end %>
