<li>
<b><%= _("methodology summary") %></b>
</li>
<li class="second">
<%= disert_theme.methodology_summary %>
</li>
<% unless disert_theme.has_methodology? %>
<li>
<%= link_to(_("upload methodology"), :controller => "disert_themes", :action => 
"upload_methodology", :id => disert_theme.id) %>
</li>
<% else %>
<%= methodology_link(disert_theme) %>
<% end %>
