<ul>
    <% if approvement %>
    <% if approvement.tutor_statement %>
  <li>
    <%= print_statement(_("Tutor statement"), approvement.tutor_statement) %>
  </li>
    <% end %>
    <% if approvement.leader_statement %>
  <li>
    <%= print_statement(_("Leader statement"), approvement.leader_statement) %>
  </li>
    <% end %>
    <% if approvement.dean_statement %>
  <li>
    <%= print_statement(_("Dean statement"), approvement.dean_statement) %>
  </li>
    <% end %>
    <% end %>
 
</ul>
