<%= update_element_function("people_list", :content => render(:partial => 
'shared/student_detail', :locals => {:index => index, :study_plan => index.study_plan,
:disert_theme => index.disert_theme}), :position => :before)  %>
<%= "Element.hide('search', 'people_list')" %>
