<%= update_element_function("people_list", :content => render(:partial => 
'shared/study_plan', :locals => {:study_plan => study_plan}), :position => :before)  %>
<%= "Element.hide('search', 'people_list')" %>
