<h5><%= _("Contact") %></h5>
<ul>
<li>
<div class='long_info'><%= student.email.name %> </div>
<%= _("email") %>
</li>
<li>
<div class='long_info'> <%= student.phone.name %> </div>
<%= _("phone") %>
</li>
<li>
<div class='long_info'> <%=student.address.to_line_s %> </div>
<%= _("habitat address") %>
</li>

<% if student.postal_address %>
<li>
<div class='long_info'> <%= student.postal_address.to_line_s %> </div>
<%= _("postal address") %>
</li>
<% end %>
</ul>

