<li><b><%= title %></b></li>
<% subjects.sort! {|x, y| x.finishing_on <=> y.finishing_on} %>
<% for subject in subjects %>
<li class='second'>
<div class='info'><%= subject.finishing_on %>. <%= _("semester") %></div>
<%= subject.subject.label %>
</li>
<% if subject.finished? %>
<li class='second'>
<div class=app/helpers/application_helper.rb'info'><%= subject.finished_on.strftime("%d. %m. %Y") %> </div>
<%= "#{_('date finished')}: " %>
</li>
<% end %>
<% end %>

