<div class='links'>
  <%= link_to 'úvodní stránka', :controller => 'account', :action => 'welcome' %>
  <%= link_to 'odhlásit', {:controller => 'account', :action => 'logout'}, :confirm => 'opravdu se chcete odhlásit?' %>
</div>
