<h1>Editing department</h1>

<%= error_messages_for 'department' %>
<!--[form:department]-->
<%= start_form_tag :action => 'update' %>
<%= hidden_field 'department', 'id' %>
<p><label for="department_name">Name</label><br /><%= text_field 'department', 'name'  %></p>
<input type="submit" value="Update" />
<%= end_form_tag %>
<!--[eoform:department]-->


<%= link_to 'Show', :action => 'show', :id => @department.id %> |
<%= link_to 'Back', :action => 'list' %>
