<% for column in Department.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @department.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @department.id %> |
<%= link_to 'Back', :action => 'list' %>
