<%= error_messages_for 'actuality' %>

<!--[form:actuality]-->
<p>
  <label for="actuality_label", class="actuality"><%=t(:message_0, :scope => [:view, :actualities, :_form])%></label>
  <%= text_field 'actuality', 'label'  %>
</p>
<p>
  <label for="actuality_content", class="actuality"><%=t(:message_1, :scope => [:view, :actualities, :_form])%></label>
  <%= text_area 'actuality', 'content',  :class => "mceEditor"  %>
</p>
<!--[eoform:actuality]-->

