<%= error_messages_for 'actuality' %>

<!--[form:actuality]-->
<p><label for="actuality_label">Label</label><br/>
<%= text_field 'actuality', 'label'  %></p>

<p><label for="actuality_content">Content</label><br/>
<%= text_area 'actuality', 'content'  %></p>
<!--[eoform:actuality]-->

