<% unless @actualities.empty? %>
<div class="links">
  <%= link_to(t(:message_1, :scope => [:txt, :view, :actualities, :list, :rhtml]), :action => 'new') %>
</div>
<h1><%= t(:message_0, :scope => [:txt, :view, :actualities, :list, :rhtml]) %></h1>
<ul id='actuallities'>
    <%= render(:partial => 'actuality', :collection => @actualities) %>
</ul>
<% end %>

<%= will_paginate %>

<br />
