<h5><%= t(:new_diploma_supplement, :scope => [:view, :diploma_supplements, :new]) %></h5>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag t(:create, :scope => [:view, :diploma_supplements, :new]) %>
<% end %>

<%= link_to t(:back, :scope => [:view, :diploma_supplements, :new]), :action => 'index' %>
