<div class="links">
  <% if @user.has_role?('board_chairman') %>
    <%= link_to 'zpět na výpis', :action => 'index' %>
  <% else %>
    <%= link_to 'zpět na výpis', :action => 'list' %>
  <% end %>
</div>
