<%=_('email')%>: <a href='mailto:<%= candidate.email %>'><%= candidate.email %></a><br /> 
<%=_('phone')%>: <%= candidate.phone %><br /> 
<%=_('address')%>: <%= candidate.address %><br /> 
<% unless candidate.postal_street.empty? %>
<%=_('correspondence address')%>: <%= candidate.postal_address %>
<% end %>
