<% unless @candidate.errors.empty? %>
<div id='error'>
<%= t(:message_0, :scope => [:txt, :view, :candidates, :_error, :rhtml]) %>:
<%= flash[:error] %>
<% if @candidate && !@candidate.errors.empty? %>
<ul>
<% @candidate.errors.each do |attr, message| %>
     <li><%= message %></li>
<% end %>
</ul>
<% end %>
</div>
<% else %>
<div class='notice'>
   <%= t(:message_1, :scope => [:txt, :view, :candidates, :_error, :rhtml]) %>
</div>
<% end %>
