<% @ids = [] %>
<ul>
<% for candidate in @candidates  %>
  <li>
    <div class='right'>
			<b>
			<%= ready_link(candidate) %>     
			<%= invite_link(candidate) %>
      <%= admit_link(candidate) %>
      <%= enroll_link(candidate) %>
			</b>
			&nbsp;
      <%= link_to 'detail', :action => 'show', :id => candidate %>
      <%= link_to 'opravit', :action => 'edit', :id => candidate %>
      <a href="#" onclick="toggle_detail('contact', 'link_contact', '<%= candidate.id %>'); return true" id="link_contact<%= candidate.id %>">kontakt</a>
      <a href="#" onclick="toggle_detail('history', 'link_history', '<%= candidate.id %>'); return true" id="link_history<%= candidate.id %>">historie</a>
    </div>
    <b><%= candidate.display_name %>
	  rč.&nbsp;<%= candidate.birth_number %>&nbsp;<%= status_tag(candidate) %><br /></b>
	  obor: <%= candidate.coridor.name %><br />
	  <div class='detail' id='contact<%= candidate.id %>' style='display: none; '>
	  		<%= render_partial "contact", :candidate => candidate %>
	  </div>
	  <div class='detail' id='history<%= candidate.id %>' style='display: none; '>
	  		<%= render_partial "history", :candidate => candidate %>
	  </div>
  </li>
  <% @ids << candidate.id %>
<% end %>
</ul>
