<%= render(:partial => 'back') %>
<h1><%=  t(:message_22, :scope => [:txt, :view, :candidates, :list, :rhtml]) %> </h1>
<%= render :partial => 'shared/candidate_edit' %>
<%= render(:partial => 'back') %>
<br /> 
