<% for column in Candidate.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @candidate.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @candidate.id %> |
<%= link_to 'Back', :action => 'list' %>
