<% for column in ContactType.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @contact_type.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @contact_type %> |
<%= link_to 'Back', :action => 'list' %>
