<%= error_messages_for 'subject' %>

<!--[form:subject]-->
<p><label for="subject_label">Label</label><br/>
<%= text_field 'subject', 'label'  %></p>

<p><label for="subject_code">Code</label><br/>
<%= text_field 'subject', 'code'  %></p>
<!--[eoform:subject]-->

