<%= error_messages_for 'title' %>

<!--[form:title]-->
<p><label for="title_name">Name</label><br/>
<%= text_field 'title', 'name'  %></p>

<p><label for="title_before">Before</label><br/>
<%= text_field 'title', 'before'  %></p>
<!--[eoform:title]-->

