<tr class='second' id='coridor_subject_<%= coridor_subject.id %>'>
    <td> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        <%= "%s&nbsp;%s" % [del_link(coridor_subject), coridor_subject.subject.label] %></td>
</tr>
