<li id='coridor_subject_form' class='second'>
<%= save_form(:subject) %>
  <%= collection_select(:coridor_subject, :subject_id, @subjects, :id, :label) %>
  <%= hidden_field(:coridor_subject, :type)%>
  <%= ok_submit(:subject) %>
  <%= remove_line%>
<%= end_form_tag %>
</li>
