<tr id='coridor_subject_form' class='second'>
<td>
<% save_form(:coridor_subject) do -%>
&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
  <%= collection_select(:coridor_subject, :subject_id, @subjects, :id, :label) %>
  <%= hidden_field(:coridor_subject, :type) %>
  <%= ok_submit(:coridor_subject) %>
  <%= javascript_tag "$('coridor_subject_subject_id').focus()" %>
  <%= remove_line %>
<% end %>
<td>
</tr>
