<h1>Editing coridor</h1>

<%= error_messages_for 'coridor' %>
<!--[form:coridor]-->
<% form_tag :action => 'update' do %>
<%= hidden_field 'coridor', 'id' %>
<p><label for="coridor_name">Name</label><br /><%= text_field 'coridor', 'name'  %></p>
<input type="submit" value="Update" />
<% end %>
<!--[eoform:coridor]-->


<%= link_to 'Show', :action => 'show', :id => @coridor.id %> |
<%= link_to 'Back', :action => 'list' %>
