<h1>New coridor</h1>

<%= error_messages_for 'coridor' %>
<!--[form:coridor]-->
<% form_tag :action => 'create' do %>
<%= hidden_field 'coridor', 'id' %>
<p><label for="coridor_name">Name</label><br /><%= text_field 'coridor', 'name'  %></p>
<input type="submit" value="Create" />
<% end %>
<!--[eoform:coridor]-->


<%= link_to 'Back', :action => 'list' %>
