<% for column in Coridor.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%= @coridor.send(column.name) %></b>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @coridor.id %> |
<%= link_to 'Back', :action => 'list' %>
