
<% form_tag :action => 'update', :id => @exam_term do %>
  <%= render(:partial => "form") %>
  <%= submit_tag t(:message_0, :scope => [:txt, :view, :exam_terms, :edit, :rhtml]) %>
<% end %>
<div class='links'>
	<%= link_to t(:message_1, :scope => [:txt, :view, :exam_terms, :edit, :rhtml]), :action => 'list' %>
</div>
