
<% form_tag :action => 'update', :id => @exam_term do %>
  <%= render(:partial => "form") %>
  <%= submit_tag _('save') %>
<% end %>
<div class='links'>
	<%= link_to _('back'), :action => 'list' %>
</div>
