<% for column in ExamTerm.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @exam_term.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @exam_term %> |
<%= link_to 'Back', :action => 'list' %>
