<%= form_remote_with_loading(:url => {:action => 'search'}, :update =>
  'probation_terms_list') %>
<fieldset>
  <label for="search_what"><%= _("search by subject") %></label>
  <%= tag('input', :name => 'search', :id => 'search_field', 'size' => '10') %>
  <%= end_form_tag %>
  <%= observe_field("search_field", :url => {:action => 'search'}, :frequency =>
  0.5, :update => 'probation_terms_list', :with => "'search_field=' + escape(value)") %>
</fieldset>
<%= end_form_tag %>
