<fieldset>
<legend><%= _("probation term subjects") %></legend>
<label>
<%= _("subject") %>
</label>
<% subjects = @subjects %>
<%= content_tag('select', options_for_select(subjects.map{|sub| [sub.label,
sub.id]}), {'id' => "probation_term_subject_id",'name' => "probation_term[subject_id]"}) %>
<br/> 
</fieldset>

