<fieldset>
<legend><%= t(:message_0, :scope => [:txt, :view, :probation_terms, :_subject_form, :rhtml]) %></legend>
<label>
<%= t(:message_1, :scope => [:txt, :view, :probation_terms, :_subject_form, :rhtml]) %>
</label>
<% subjects = @subjects %>
<%= content_tag('select', options_for_select(subjects.map{|sub| [sub.label,
sub.id]}), {'id' => "probation_term_subject_id",'name' => "probation_term[subject_id]"}) %>
<br/> 
</fieldset>

