<%= form_remote_with_loading(:url => {:action => 'save_subject'}, :evaluate =>
  true) %>	
<fieldset>
<legend><%= _("probation term subjects") %></legend>
<label>
<%= _("subject") %>
</label>
<%= content_tag('select', options_for_select(subjects.map{|sub| [sub.label,
sub.id]}), {'id' => "subject_id",'name' => "subject[id]"}) %>
<br/> 
</fieldset>
<%= submit_tag(_("commit")) %>
<%= end_form_tag %>
