<h5><%= t(:message_0, :scope => [:txt, :view, :probation_terms, :create, :rhtml]) %></h5>
<div id="form">
<% form_tag :action => 'save' do -%>
  <%= render(:partial => 'subject_form', :locals => {:subjects => @subjects}) %>
  <%= render(:partial => 'probation_term_details_form') %>
  <%= render(:partial => 'examinators_form')%>
<% end -%>
</div>
