<%= javascript_include_tag :defaults %>
<%= list_links(@user) %>                      
<% unless @probation_terms.empty? %>
<div id="probation_terms_list">
  <%= render(:partial => 'list') %>
</div>

<% else %>
<h4><%= _("There are no probation terms by your selection") %></h4>
<% end %>
<%= list_links(@user) %>                      

