<h4><%= link_to(t(:message_0, :scope => [:txt, :view, :study_plans, :_accept, :rhtml]), {:action => 'confirm'}, :confirm =>
  t(:message_1, :scope => [:txt, :view, :study_plans, :_accept, :rhtml])) %></h4>
<br>
