<li>
  <h6><%= t(:message_0, :scope => [:txt, :view, :study_plans, :_attestation_detail, :rhtml]) %></h6>
<div>
  <%= @attestation_detail.detail.gsub(/\n/, '<br>').gsub(' ', '&nbsp;') %>
</div>
</li>
