<h5>
  <%= _("disert theme") %>
</h5>
<ul id='disert_theme'>
  <li>
  <b><%= "#{disert_theme.title}" %></b>
  </li>
  <li>
  <div class='info'><%= disert_theme.finishing_to %>.<%= _("semester") %></div>
  <%= "#{_("disert theme defense")}" %>
  </li>
</ul>
