<% 4.times do |index| %>
<% i = index + 1 %>
<label class='smaller' for="final_area_<%= i %>"><%= "#{i}. " + _("final area") %></label>
<input type='text' id="study_plan_final_areas_<%= i %>"
name="study_plan[final_areas][<%= i %>]" size="30"
<% if study_plan.final_areas %>
value="<%= study_plan.final_areas[i.to_s] %>"
<% end %>
/><br/>   
<% end %>


