<%= form_remote_with_loading(:url => {:action => 'save_obligate'}, :evaluate =>
  true) %>	
<fieldset>
<%= hidden_field 'study_plan', 'index_id' %>
<legend><%= _("obligate subjects") %></legend>
<ul class='nodecor'>
<%= render(:partial => 'obligate', :collection => @plan_subjects) %>
</ul>
</fieldset>
<%= submit_tag(_("voluntary subjects") + " >>>") %>
<%= end_form_tag %>

