<% form_remote_tag(:url => {:action => 'save_obligate'}, :complete => evaluate_remote_response) do -%>	
<fieldset>
<%= hidden_field 'study_plan', 'index_id' %>
<legend><%= _("obligate subjects") %></legend>
<ul class='nodecor'>
<%= render(:partial => 'obligate', :collection => session[:obligate_subjects]) %>
</ul>
</fieldset>
<%= submit_tag(_("voluntary subjects") + " >>>", :id => 'submit_button', :onclick =>"$('submit_button').value = '%s'" % _('working...')) %>
<% end %>
