<%= visual_effect(:appear, "study_plan#{study_plan.id}") %>
<%= update_element_function("study_plan#{study_plan.id}", :position => :bottom,
:content => render(:partial => "shared/subjects", 
:locals => {:subjects => subjects , :title => _("subjects")})) %>
<%= update_element_function("subject_link#{study_plan.id}", :action => :remove) %>
