<ul>
<li>
<%= "#{long_info_helper(student.display_name)}#{_('Full name')}: " %>
</li>
<li>
<%= "#{long_info_helper(student.index.coridor.name)}#{_('Corridor')}: " %>
</li>
<li>
<%= "#{long_info_helper(student.index.study.name)}#{_('Study form')}: " %>
</li>
<li>
<%= "#{long_info_helper(student.index.tutor.display_name)}#{_('Tutor')}: " %> 
</li>
<li>
<%= "#{long_info_helper(student.index.year.to_s.concat('.'))}#{_('Year')}: " %> 
</li>
</ul>

