<ul>
<li>
  <%= _("Full name") + ":&nbsp;" + @student.display_name %>
</li>
<li>
  <%= _("Corridor")  + ":&nbsp;" + @student.index.coridor.name %>
</li>
<li>
  <%= _("Study form") + ":&nbsp;" + @student.index.study.name %>
</li>
<li>
 <%= _("Tutor")  + ":&nbsp;" +  @student.index.tutor.display_name %> 
</li>
</ul>

