<label class='smaller'>
<%= _("voluntary subject") %>
</label>
<%= voluntary_select(subjects, voluntary) %>
<%= "." + _("semester") %>
<br/> 
<div id="external<%= voluntary.id %>" style='<%= hide_style(voluntary) %>' >
<label><%= _("subject") %></label>
<%= external_subject_input(voluntary) %>
<br/> 
<label><%= _("university") %></label>
<%= external_university_input(voluntary) %>
<br/> 
<label><%= _("examinator") %></label>
<%= external_person_input(voluntary) %>
</div>
