<%= start_form_tag :action => 'confirm_approve', :id => @study_plan %>	
<label for="statement_note"><%= _("note") %>:</label>
<%= text_area 'statement', 'note' %><br/>
<label for="statement_result"><%= _("result") %></label>
<%= select 'statement', 'result', [[_("approve"), 1], [_("cancel"), 0]] %><br/>
<%= submit_tag _("next") %>
<%= end_form_tag %>
