<%= javascript_include_tag "prototype" %>
<%= javascript_include_tag "study_plan" %>
<% if @flash['error'] %>
<div id='error'>
<%= @flash['error'] %>
</div>
<% end %>
<%= start_form_tag(:action => 'save_language')%>
<fieldset>
<legend><%= _("Language subjects") %></legend>
<% for plan_subject in @plan_subjects do %>
<%= render_partial 'language', :plan_subject => plan_subject %>
<br/> 
<% end %>
</fieldset>
<%= submit_tag(_("next")) %>
<%= end_form_tag %>

