<h1><%= t(:individual_study_plan_application, :scope => [:view, :study_plans]) %></h1>
<form action='/study_plans/confirm_intellectual_property'>
  <fieldset>
    <label for='note'>
      <%= t(:note_for_individual_study_plan, :scope => [:view, :study_plans]) %>
    </label>
    <%= text_area_tag(:note, nil, :rows => 10, :cols => 60) %>
    <br/>
    <%= submit_tag t(:confirm_individual_application, :scope => [:view, :study_plans]) %>
  </fieldset>
</form>

