<p class='help' id='guide'>
<%= t(:message_0, :scope => [:view, :study_plans, :create]) %>
</p>
<div id="done">
  <%= render(:partial => 'create_head') %>
</div>
<div id="form">
  <%= render :partial => "#{@type}_form" %>
</div>
<%=
javascript_tag <<-CODE
function hide_on_internal(id) {
  var element = eval("document.forms[0].plan_subject_" + id + "_subject_id");
  if(element.value != 0) {
    Element.hide('external' + id);
  }
  else {
    Element.show('external' + id);
  }
}

CODE
%>
