<td colspan='9' id='opened'>
  <div class='bigger'>
    <%= link_to_function t(:message_0, :scope => [:view, :study_plans, :show]), "$('opened').hide()" %>
  </div>
  <%= render(:partial => 'shared/study_detail', :locals => {:index => @index}) %>
  <div class='bigger'>
    <%= link_to_function t(:message_1, :scope => [:view, :study_plans, :show]), "$('opened').hide()" %>
  </div>
</td>
