<h5><%= t(:message_0, :scope => [:view, :interrupts, :index]) %></h5>
<h6><%= @student.display_name %></h6>
<% form_tag(:action => 'create') do -%>
  <%= hidden_field('interrupt', 'index_id') %>

  <% if @index.has_interrupts_in_days? %>
    <%= render(:partial => 'days_form') %>
  <% else %>
    <%= render(:partial => 'months_form') %>
  <% end %>
<% end %>
