<h3><%= t(:message_0, :scope => [:txt, :view, :account, :no_permission, :rhtml]) %></h3>
<p><%= link_to_function t(:message_1, :scope => [:txt, :view, :account, :no_permission, :rhtml]), 'history.back()' %></p>
