
<div class="memo">

    <p>Nyní jste přihlášen-a do systému.</p>
    <p>
      Máte možnost a práva provádět tyto operace.
    </p>
      
    <div class='links'>
      <%= link_to 'pracovat s uchazeči o studium', :controller => 'candidates'%>
      <%= link_to 'pracovat se studenty', :controller => 'students' %>
    </div>  
      
</div>
