
<h5><%= _("Current atestation term") %></h5>
<ul>
<li>
<%= "#{_('Atestation date')}: #{atestation_term.opening_on}" %>
</li>
<li>
<%= "#{_('Atestation ends')}: #{atestation_term.closing_on}" %>
</li>
</ul>
