<%= update_element_function("form", :position => :before,
:content => render(:partial => "atestation_term", 
:locals => {:title => _("Next atestation term"), :atestation_term => 
atestation_term})) %>
<%= update_element_function("form", :action => :remove) %> 

