<% for column in AtestationTerms.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @atestation_terms.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @atestation_terms %> |
<%= link_to 'Back', :action => 'list' %>
