<p>
  <%= _("The first step is to choose the creation type of an exam.") %>
</p>
<ul>
<li>
<%= link_to_remote_with_loading(_("exam by subject"), :url => {:action => 
'by_subject'}, :update => 'form') %>
</li>
<li>
<%= link_to_remote_with_loading(_("external exam"), :url => {:action => 
'external'}, :evaluate => true) %>
</li>
</ul>
