
<p>
  <%= _("The first step is to choose the creation type of an exam.") %>
</p>
<ul>
<li>
<%= link_to_remote(_("exam by subject"), :url => {:action => 'exam_by_subject'},
:loading => visual_effect(:appear, 'loading'), :interactive => 
visual_effect(:fade, "loading"), :complete => evaluate_remote_response) %>
</li>
<li>
</li>
</ul>
