<p>
  <%= _("The first step is to choose the creation type of an exam.") %>
</p>
<ul>
<li>
<%= link_to_remote_with_loading(_("exam by subject"), :url => {:action => 
'exam_by_subject'}, :evaluate => true) %>
</li>
<li>
<%= link_to_remote_with_loading(_("external exam"), :url => {:action => 
'external_exam'}, :evaluate => true) %>
</li>
<li>
</li>
</ul>
