<%= update_element_function('exams_list', :action => :update, :position => 
:after, :content => render(:partial => 'protocol', :locals => {:exam => exam,
:plan_subject => plan_subject, :back_link => true})) %>

<%= "Element.hide('exams_list')" %>
