    <th><%= exam.index.student.display_name %></th>
    <td><%= truncate(exam.subject.label,40) %></td>
    <td><%= exam.passed_on.strftime("%d. %m. %Y") %></td>
    <td><%= result_word(exam.result) %></td>
    <td class='smallerinfo' id='edit_link_<%= exam.id %>'><%= edit_link(exam) %></td>
    <td class='smallerinfo' id='detail_link_<%= exam.id %>'><%= detail_link(exam) %></td>
    <td class='smallerinfo' id='destroy_link_<%= exam.id %>'><%= destroy_link(exam) %></td>
  
