    <th><%= exam.index.student.display_name %></th>
    <td><%= truncate(exam.subject.label,40) %></td>
    <td><%= exam.passed_on.strftime("%d. %m. %Y") %></td>
    <td><%= result_word(exam.result) %></td>
    <td class='smallerinfo' id='<%= dom_id(exam, :edit_link) %>'><%= edit_link(exam) %></td>
    <td class='smallerinfo' id='<%= dom_id(exam, :detail_link) %>'><%= detail_link(exam) %></td>
    <td class='smallerinfo' id='<%= dom_id(exam, :destroy_link) %>'><%= destroy_link(exam) %></td>
  
