<%= update_element_function("done", :position => :bottom,
:content => render(:partial => "exam_with_subject", 
:locals => {:exam => @exam})) %>
<%= update_element_function("form", 
:content => render(:partial => "examinators_form",
:locals => {:plan_subjects => @plan_subjects}))%>
<%= visual_effect(:slide_down, 'form') %>
