<%= update_element_function("done", 
:content => render(:partial => "exam_with_subject", 
:locals => {:exam => exam})) %>
<%= update_element_function("form", 
:content => render(:partial => "examined_student_form",
:locals => {:students => students}))%>
<%= "Element.show('form')" %>
