<%= update_element_function("done", :content => render(:partial => 
  "with_subject", :locals => {:exam => session[:exam]})) %>
<%= update_element_function("form", :content => render(:partial =>
  "examined_student_form", :locals => {:students => students}))%>
<%= "Element.show('form')" %>
