<% form_remote_tag(:url => {:action => 'save_student_subject'},
                    :coplete => evaluate_remote_response) %>	
<fieldset>
<legend><%= _("Examined students") %></legend>
<label><%= _("student") %></label>
<%= options_for_select(students.map {|stud| [stud.display_name, stud.id]}),
                      {'id' => "student_id", 'name' => "student[id]"}) %>
<br/> 
</fieldset>
<%= submit_tag(_("commit")) %>
<% end %>

