<%= update_element_function("done", :content => render(:partial => 
  "exams/with_student", :locals => {:exam => exam})) %>
<%= update_element_function("form", :content => render(:partial => 
  "exams/main_form", :locals => {:exam => exam, :plan_subject => 
  plan_subject, :action => action, :container => container}))%>
<%= "Element.show('form')" %>

