<div id='form'>
<h5><%= _("Finished creating exam") %></h5>
<div class='links'>
  <%= print_link %>
</div>
<%= render(:partial => 'protocol', :locals => {:exam => exam, :back_link => back_link}) %>
</div>
