<h5><%= _("Creating exam") %></h5>
<ul>
  <li>
    <%= "#{_('Exam for student')}: #{exam.index.student.display_name}" %>
  </li>
  <li>
    <%= "#{_('Exam from subject')}: #{exam.subject.label}" %>
  </li>
</ul>
