<h5><%= t(:message_0, :scope => [:view, :exams, :_with_student]) %></h5>
<ul>
  <li>
    <%= "#{t(:message_1, :scope => [:view, :exams, :_with_student])}: #{exam.index.student.display_name}" %>
  </li>
  <li>
    <%= "#{t(:message_2, :scope => [:view, :exams, :_with_student])}: #{exam.subject.label}" %>
  </li>
</ul>
