<h1><%= t(:message_0, :scope => [:view, :exams, :_with_subject]) %></h1>
<fieldset id='exam_info'>
  <legend><%= t(:message_3, :scope => [:view, :exams, :_with_subject]) %></legend>
<ul id='exam'>
  <li>
    <%= t(:message_1, :scope => [:view, :exams, :_with_subject]) %>
  </li>
  <li>
  <%= "#{t(:message_2, :scope => [:view, :exams, :_with_subject])}: #{exam.subject.label}" %>
  </li>
</ul>
</fieldset>
