<div id='container'>
  <div id="done">
  </div>

  <div id="form">
      <div class="links">
      <%= link_to t(:message_1, :scope => [:view, :exams, :create]), :action => :list %>
    </div>
    <h1>
      <%= t(:message_0, :scope => [:view, :exams, :create]) %>
    </h1>
    <ul>
      <li id='by_exam_line'>
      <%= subject_exam_link  %>
      </li>
      <li id='external_line'>
      <%= external_exam_link %>
      </li>
    </ul>
  </div>
</div>
