<div id='container'>
  <div id="done">
  </div>
  <div id="form">
    <h5>
      <%= _("The first step is to choose the creation type of an exam.") %>
    </h5>
    <ul>
      <li id='by_exam_line'>
      <%= subject_exam_link  %>
      </li>
      <li id='external_line'>
      <%= external_exam_link %>
      </li>
    </ul>
  </div>
</div>
