<h5> <%= _('external exam')%></h5>
<% external_student_form do -%>	
<fieldset>
  <legend><%= _("Examined students") %></legend>
  <select id='index_id' name='index[id]'>
    <%= display_name_options(@students) %>
  </select>
</fieldset>
<%= submit_tag(_("commit"), :id => 'submit-button') %>
<% end %>
