<%= javascript_include_tag :defaults %>
<% unless @exams.empty? %>
<%= list_links %>
<h1 id="exam_title"><%= @title + " (%s)" % @exams.size %></h1>
<div id="exams_list">
  <br class="clear-all" />
  <%= render(:partial => 'list', :exams => @exams)%>
</div>
<div id='done'>
</div>
<div id='form'>
</div>
<% else %>
<h2><%= t(:message_0, :scope => [:txt, :view, :exams, :list, :rhtml]) %></h2>
<%= list_links %>
<% end %>
