<%= javascript_include_tag :defaults %>
<% unless @exams.empty? %>
<div id="exams_list">
  <%= list_links %>                      
  <%= render(:partial => @partial)%>
</div>
<% else %>
<h5><%= _("There are no exams for you") %></h5>
<%= list_links %>                      
<% end %>
