
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @htmllang %>" lang="<%= @htmllang %>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="pragma" content="nocache"/>
  <meta http-equiv="expires" content="<%= Time.now %>"/>
  <title><%= @title %></title>
  <link href="/stylesheets/standard.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/documents.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/print_documents.css" media="print" rel="stylesheet" type="text/css"/>
</head>
<body onload='Element.hide("loading")'>
  <%= javascript_include_tag :defaults %>
    <img id="Head" src="/images/header.jpg" width="760" height="77"
    alt="logo"/><div id="HeadMenu">
  <% if @user %>
    <div id="HeadMenuContent">
      <div id="HeadMenuLinks"><%= main_menu %></div>
      <div id="HeadMenuUser"><h1 id="title"><%= @user.person.display_type + ": #{@user.person.display_name}" %></h1></div>
    </div>
  <% end %>
  </div>
  <div id="main">
    <div id='loading'><%= t(:message_1, :scope => [:txt, :view, :layouts, :documents, :rhtml]) %></div>
    <%= @content_for_layout %>
  </div>
  <div id="footer" class="footer">
    <%= image_tag "ff3.gif", :alt => t(:message_2, :scope => [:txt, :view, :exams, :_show, :rhtml]), :align => "left" %>
    <%=mail_to ('helpdesk@czu.cz','HELPDESK')%>, +420 224384444
  </div>
</body>
</html>
