<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @htmllang %>" lang="<%= @htmllang %>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="pragma" content="nocache"/>
  <meta http-equiv="expires" content="<%= Time.now %>"/>
  <title><%= @title %></title>
  <link rel="stylesheet" type="text/css" media="print" href="/stylesheets/print.css" />
  <link href="/stylesheets/style_redesign.css" media="screen" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/ico" href="/images/ed.ico"/>
  <%= include_tiny_mce_if_needed %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
	<div id="content">
		<div id="head">
  		<div id="logged-user">
        <% if @user %>
          <%= @user.person.display_type.strip %>: <strong><%=  @user.person.display_name %></strong>
      	<% end %>
      </div>
  		<a href="/" class="home-btn"></a>
		</div>
  <% if @user %>
    <div id="main-menu">
      <%= main_menu %>
    </div>
  <% end %>
  <%= image_tag "text_content_top.gif", :alt => "", :class => 'text-content-top-image' %>
  <div id="text-content">
    <%= yield %>
  </div>
    <%= image_tag "text_content_bottom.gif", :alt => ""%>
    <br class="clear-all">
  </div>
    <div id="foot">
      <span class="right">
        <%= mail_to('helpdesk@czu.cz','HELPDESK') %>, +420 224384444
      </span>
      &nbsp;<a href='http://www.laststar.eu'>LastStar.eu. s.r.o.</a>
    </div>
  </div>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-9459457-1");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
  </body>
</html>
