
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @title %></title>
  <link rel="stylesheet" type="text/css" media="print" href="/stylesheets/print.css" />
  <link href="/stylesheets/standard.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
	<% if @session['user'] %>
  <div class='topMenu'>
	<% if @session['user'].person.is_a?(Student) %>
    <%= link_to_unless_current(_("welcome page"), :action => 'index') {} %>
    <% if !@student.index.study_plan || @student.index.study_plan.canceled? %>
      <%= link_to(_("create study plan"),
        :action => 'create', :id => @student) %>
    <% elsif @student.index.study_plan.approved? &&
    !@student.index.disert_theme.has_methodology?  %>
      <%= link_to(_("add methodology"), :action => 'methodology',
        :controller => 'disert_themes', :id => @student.index.disert_theme)  %>
    <% end %>
    <% else %>
    <%= link_to_unless_current(_("welcome page"), :controller => 'account', :action => 'welcome') {} %>
    <% if @session['user'].has_role?('admin') ||
        @session['user'].has_role?('faculty_secretary') %>
      <%= link_to_unless_current(_("candidates"), :controller => 'candidates'){} %>
      <%= link_to_unless_current(_("exam_terms"), :controller => 'exam_terms'){} %>
      <%= link_to_unless_current(_("exams"), :controller => 'exams'){} %>
    <% end %>
    <%= link_to_unless_current(_("students"), :controller => 'students'){} %>
    <% end %>
    <%= link_to_unless_current(_("logoff"), {:controller => 'account', 
      :action => 'logout'}, :confirm =>  _("do you really want to") + ' ' +
      _("logoff") + '?'){} %>
  </div>
  <%= _("you are logged like") %>: <%= @session['user'].login %>
	<% end %>
  <h1 id='title'><%= @title %></h1>
  <div id="main">
    <%= @content_for_layout %>
  </div>
  <div id="footer">
    phdstudy in early version. All designed and coded by GravaStar.&nbsp;
  </div>
</body>
</html>
