<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-2"/>
  <title><%= @title %></title>
  <link href="/stylesheets/standard.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <h1 id='title'><%= @title %></h1>
  <%= render_partial 'notice' %>
  <%= render_partial 'error' %>
  <div id="main">
    <%= @content_for_layout %>
  </div>
  <div id="footer">
    phdstudy in early version. All designed and coded by GravaStar.&nbsp;
  </div>
</body>
</html>
