<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @htmllang %>" lang="<% @htmllang%>">
<head>
  <meta http-equiv="content-type" content="text/html; charset=<%= @charset %>" /
  <title><%= @title %></title>
  <link rel="stylesheet" type="text/css" media="print" href="/stylesheets/print.css" />
  <link href="/stylesheets/standard.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
  <%= javascript_include_tag :defaults %>
  <h1 id='title'><%= @title %></h1>
  <div id="main">
    <%= @content_for_layout %>
  </div>
</body>
</html>
