<h5><%= t(:message_3, :scope => [:txt, :view, :parameters, :list, :rhtml]) %></h5>
<h2><%= t(:message_0, :scope => [:txt, :view, :parameters, :sample_page, :rhtml]) %></h2>
<div class="links">
  <%= link_to t(:message_1, :scope => [:txt, :view, :parameters, :edit, :rhtml]), :action => 'list' %>
</div>
